<app-header></app-header>
<div class="container">
  <br clear="all" />
  <form class="hpform">
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" /> <br />
    <label for="male">
      Male:
      <input type="radio" name="male" id="male" [value]="true" [(ngModel)]="isMale" />
    </label>
    <label for="female">
      Female:
      <input type="radio" name="female" id="female" [value]="false" [(ngModel)]="isMale" />
    </label>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" /> <br />
    <input type="submit" (click)="register();" value="Register" /><br />
    <input type="submit" [routerLink]="['/login']" value="Login" /><br />
  </form>
</div>
<app-footer></app-footer>
