<app-header></app-header>
<div>
  <form class="hpform">
    <input type="submit" (click)="logout()" value="Logout" />
  </form>
</div>
<div>
  <input (keyup.enter)="sendCommonMessage()" [(ngModel)]="message" />
  <button (click)="sendCommonMessage()">Send message</button>
</div>
<div class="common_section" id="testimonials_part" >
  <div class="container" >

    <ul class="bxslider">

      <li *ngFor="let item of messages[broadcastId]?.slice()?.reverse()">
        <div class="testimonial_box">
          <div>
            {{item['Text']}}
          </div>
          <div class="clientinfo">
            {{item['Time'] | date: 'dd/MM/yyyy HH:mm:ss'}} {{item['FromUsername']}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-chat *ngIf="loaded" [pollFriendsList]="true" [adapter]="adapter" [userId]="userId"></ng-chat>
<app-footer></app-footer>
